@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

.attendance {
  flex: 5;
  background-color: aliceblue;
}
.leaflet-container {
  height: 100%;
}
.bold-header .MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
}
